<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.powernode.mapper.CarMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache /> -->

    <!-- 使用ehcache组件 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="selectById2" resultType="Car">
        select * from t_car where id = #{id}
    </select>

    <select id="selectById" resultType="Car">
        select * from t_car where id = #{id}
    </select>
</mapper>